.registro{
    margin: 20px auto;
    width: 300px;
}
.registro-title{
    text-align: center;
    color: #cfd1d1;
}
form{
    text-align: center;
    
}
.container{
    margin-bottom: 10px;
 
}
input{
    text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}